.hope-c-PJLV-ibwASZs-css {
    display:none;   
}
.footer span,.footer a:nth-of-type(2){
    display:none;
}
.footer span,.footer a:nth-of-type(1){
    display:none; 
}

.hope-ui-light .hope-c-PJLV-iiBaxsN-css{
    background-color: rgba(255,255,255,0.3)!important;
    backdrop-filter: blur(10px)!important;
}
.hope-ui-light .hope-c-kvTTWD-hYRNAb-variant-filled{
    background-color: rgba(255,255,255,0.3)!important;
    backdrop-filter: blur(10px)!important;
}
.hope-ui-light .hope-c-PJLV-ikEIIxw-css{
    background-color: rgba(255,255,255,0.3)!important;
    backdrop-filter: blur(10px)!important;
    padding: var(--hope-space-1)!important;
}
.hope-ui-dark .hope-c-PJLV-iiBaxsN-css{
    background-color: rgb(0 0 0 / 10%)!important;
    backdrop-filter: blur(10px)!important;
}
.hope-ui-dark .hope-c-kvTTWD-hYRNAb-variant-filled{
    background-color: rgb(0 0 0 / 10%)!important;
    backdrop-filter: blur(10px)!important;
}
.hope-ui-dark .hope-c-PJLV-ikEIIxw-css{
    background-color: rgb(0 0 0 / 10%)!important;
    backdrop-filter: blur(10px)!important;
    padding: var(--hope-space-1)!important;
}
.notify-render .hope-close-button{
    display: none;
}


.hope-select__trigger.hope-c-kvTTWD.hope-c-huZphZ.hope-c-kvTTWD-hYRNAb-variant-filled.hope-c-kvTTWD-gfwxhr-size-md.hope-c-huZphZ-cIGthf-cv.hope-c-PJLV.hope-c-PJLV-ijSQbqe-css {
  display: none !important;
}

.hope-select__trigger.hope-c-kvTTWD.hope-c-huZphZ.hope-c-kvTTWD-hYRNAb-variant-filled.hope-c-kvTTWD-gfwxhr-size-md.hope-c-huZphZ-cIGthf-cv.hope-c-PJLV.hope-c-PJLV-ijSQbqe-css {
  margin: 0px !important;
  padding: 0 4px !important;
}

.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-iigjoxS-css {
  padding: 0 !important;
}

.art-video {
  margin: 0px !important;
  padding: 0 !important;
}
